<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
</head>
<body>

    <!--
        A diretiva "ng-app" define um aplicativo AngularJS.

        A diretiva "ng-model" vincula o valor dos controles HTML (input, select, textarea) aos dados do aplicativo.

        A diretiva "ng-bind" liga os dados do aplicativo à visualização HTML.
    -->


    <!-- A diretiva ng-app informa ao AngularJS que o elemento <div> é o "proprietário" de um aplicativo AngularJS.
    <div ng-app=""> 
        <p>A soma de 5 + 5 é: {{5+5}} </p>
    </div>
    -->





    <!-- <div ng-app="" ng-init="minhaCor='lightblue'; name='Luiz'; sobrenome='Alberto'">
        <input style="background-color:{{minhaCor}}" ng-model="minhaCor">
        <p> {{name}} {{sobrenome}} </p>
    </div> -->





    <div ng-app="myApp" ng-controller="myCtrl">
        <p>
            Name: <input ng-model="name">
        </p>
        <p>
            Name: <input ng-model="outro_nome">
        </p>
        <p>O nome digitado no input foi: {{name}} </p>
        <p>O nome digitado no input foi: {{outro_nome}} </p>
    </div>
      
      

<script src="Angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.name = "";
      $scope.outro_nome = "Guilherme";
    });
</script>
    
</body>
</html>