<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação Angular</title>
</head>
<body>


    <div ng-app="myShoppingList" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="x in produtos">
                {{x}} <span style="cursor: pointer;" ng-click="removerItem($index)">&times;</span>
            </li>
        </ul>
        <input ng-model="item">
        <button ng-click="addItem()">Adicionar no carrinho!</button>
    </div>









<script src="Angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="app.js"></script> 

</body>
</html>